<template>
    <div class="editor">
        <form>
            <label for="title">Title</label>
            <input id="title" type="text"/>

            <label for="banner">Banner Image</label>
            <input id="banner" type="file"/>

            <label for="subtitle">Subtitle</label>
            <input id="subtitle" type="text"/>

            <label for="summary">Summary</label>
            <textarea id="summary"></textarea>

            <label>Content</label>
            <VueCkeditor v-model="content" types="inline" :config="config" />
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    import VueCkeditor from 'vue-ckeditor2'

    export default {
        components: {
            VueCkeditor
        },
        data () {
            return {
                content: 'content',
                post_id: 0,
                updated: false,
                postData: {
                    title: 'Title',
                    subtitle: 'subtitle',
                    summary: 'summary',
                    content: 'content'
                },
                config: {
                    toolbar: [
                        ['Bold', 'Italic']
                    ],
                    height: 300
                }
            }
        },
        beforeCreate () {
            window.setInterval(() => this.update(), 5000)
        },
        beforeDestroy () {
        },
        mounted () {
            console.log(data);
            document.getElementById("title").value = data.title
            document.getElementById("subtitle").value = data.subtitle
            document.getElementById("summary").value = data.summary
            //document.getElementById("content").value = data.content
        },
        methods: {
            save: function () {
                console.log('saved')
            },
            update: function () {
                const title = document.getElementById('title')
                const subtitle = document.getElementById('subtitle')
                const summary = document.getElementById('summary')
                const content = document.getElementById('content')

                if (title.value !== this.postData.title) {
                    this.updated = true
                }

                if (subtitle.value !== this.postData.subtitle) {
                    this.updated = true
                }

                if (summary.value !== this.postData.summary) {
                    this.updated = true
                }

                if (content.value !== this.postData.content) {
                    this.updated = true
                }

                if (this.updated) {
                    this.save()
                }
            }
        }
    }
</script>