{% extends "base.html" %}

{% load wagtailcore_tags %}

{% load wagtailimages_tags %}

{% block content %}

{% with self.body as blocks %}

    {% if page.cover %}
    {% image self.cover original as cover %}
    <div class="post-image" style="background-image: url('{{ cover.url }}')">
        <div class="titles">
            <h1 class="title">{{ page.title }}</h1>
            <h2 class="subtitle">{{ page.subtitle }}</h2>
        </div>
    </div>
    {% else %}
    <h1 class="title">{{ page.title }}</h1>
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    <div class="content">

        {% for block in blocks %}

            {% if block.block_type == 'text' %}
                
                <section class="content">
                    {{ block.value | richtext }}
                </section>

            {% elif block.block_type == 'image' %}

                <section>
                    {% image block.value original as cover %}
                    <img src="{{ cover.url }}" style="width: 100%; height: auto">
                </section>

            {% elif block.block_type == 'quote' %}

                <div class="quote">
                    {{ block.value }}
                </div>

            {% endif %}

        {% endfor %}
    </div>

{% endwith %}

{% endblock %}