{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <section class="posts-main-previews">

        {% for post in page.get_children %}
            <div class="post-main-preview">
                {% image post.specific.cover original as cover %}

                <a href="{% pageurl post %}">
                    <div class="post-image" style="background-image: url('{{ cover.url }}')"></div>
                </a>
                <h1 class="title"><a href="{% pageurl post %}">{{ post.title }}</a></h1>


                <div class="content">
                    {{ post.specific.summary }}
                </div>

                <a href="{% pageurl post %}" class="continue-reading"><i class="continue-reading">Continue
                    reading
                    →</i></a>
            </div>
        {% endfor %}

    </section>

{% endblock %}