$tablet: 769px;
$desktop: 1024px;
$wide-screen: 1280px;
$full-hd: 1472px;


@mixin mobile {
  @media only screen and (max-width: $tablet - 1px) {
    @content;
  }
}


@mixin tablet {
  @media only screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}


@mixin touch {
  @media only screen and (max-width: $desktop - 1px) {
    @content;
  }
}


@mixin tablet-and-desktop {
  @media only screen and (min-width: $tablet) and (max-width: $full-hd - 1px) {
    @content;
  }
}


@mixin from-tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}


@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}


@mixin full-hd {
  @media only screen and (min-width: $full-hd) {
    @content;
  }
}