@import "base";
@import "colors";
@import "mixins";

@import "burger";
@import "content";
@import "menu";

$header-height: 5em;


.banner {
  display: flex;
  align-items: center;

  @include from-tablet {
    width: 100vw;
    height: 60vh;
    background-image: url("/static/img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}


.banner-content {
  color: $white;
  background: $orange;
  padding: 1.5em;

  @include mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }

  @include from-tablet {
    width: 40vh;
    height: 40vh;
    margin-left: 12vw;
  }

  h1 {
    line-height: 1em;
    font-weight: bold;
  }
}


.black-ter {
  color: $black-ter;
}


.blue {
  color: $blue;
}


.break-line {
  margin: 1em auto 0.5em;
  display: block;
  width: 100%;
  height: 1px;
  background: $black-ter;
}


.date {
  font-size: 0.8em;
  font-weight: lighter;
}


.fa-icon {
  font-size: 1.4em;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.5em 0 1em;
  width: 100vw;
  background: $black-ter;
  color: $white-ter;
  font-size: 0.8em;
  font-weight: lighter;

  a {
    color: $white-ter;
    font-weight: bold;
  }
}


.continue-reading {
  margin: 0.5em 0;
  font-size: 1em;
  color: $orange;

  a {
    color: $orange;

    &:active {
      color: $orange;
    }

    &:visited {
      color: $orange;
    }

    &:link {
      color: $orange;
    }
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.8em;
  padding: 0 1em;

  a {
    text-decoration: none;
    padding: 0.8em;

    &:link {
      color: $black-ter;
    }

    &:visited {
      color: $black-ter;
    }
  }

  .active {
    border: $black-ter 1px solid;
    border-radius: 5px;
  }

  .drop-down {
    padding: 0.65em;

    &:hover {
      .drop-down-content {
        display: block
      }
    }

  }

  .drop-down-content {
    display: none;
    position: absolute;
    background: $white;
    min-width: 10em;
    z-index: 5;
  }

  .header-brand {
    display: flex;
  }

  .header-end {
    display: flex;
    @include mobile {
      display: none;
    }
  }

  .header-social {
    display: flex;
    justify-content: center;

    @include mobile {
      display: none;
    }
  }

}


.orange {
  color: $orange;
}


.posts-main-previews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;

}


.post-single {
  margin: 3em auto;

  @include mobile {
    width: 90vw;
  }

  @include tablet {
    width: 80vw;
  }

  @include desktop {
    width: 60vw;
  }
}


.posts-category-all {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}


.post-category-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }
}


.post-category-preview-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  width: 50%;
  height: 100%;

  @include mobile {
    margin: 0;
    width: 100%;
    height: auto;
  }
}


.post-category-image {
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
  background-image: url("/static/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include mobile {
    width: 100%;
  }
}


.post-main-preview {
  display: flex;
  margin: 2em auto;
  flex-direction: column;

  @include mobile {
    width: 90%;
  }

  @include tablet {
    width: 80%;
  }

  @include desktop {
    width: 60%;
  }
}


.post-image {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .titles {
    color: $white;
    background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.9));

    @include mobile {
      padding: 0.4em 1em;
    }

    @include tablet {
      padding: 0.4em 2em;
    }

    @include desktop {
      padding: 0.4em 4em;
    }
  }
}


.post-main-preview-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: lighter;
}


.ribbon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: $blue;
  color: $white;
  margin-top: 0.5em;
  min-height: 25vh;
  width: 100vw;

  .ribbon-content {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: 0 auto;

    @include touch {
      margin: 0.5em 1em;
    }

    @include desktop {
      width: 17vw;
    }
  }

  h1 {
    line-height: 1.2em;
  }
}


.title {
  font-family: 'Noto Serif', serif;
  font-size: 2.5em;
  margin: 0;
}


.newsletter {
  padding: 1em;
  background: $orange;
  color: $white-ter;
  max-height: 6em;
  max-width: 25em;
  margin: auto;

  h1 {
    font-size: 1.2em;
  }
}


.wip {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  .wip-image {
    height: 40vh;
    background-image: url("/static/img/wip.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .wip-section {
    margin: 0 auto;
    padding: 2em;

    @include mobile {
      width: 80vw;
    }

    @include tablet {
      width: 45vw;
    }
  }

}