body {
  display: flex;
  background: whitesmoke;
  font-size: 16px;
  margin: 0; }

hr {
  width: 100%;
  stroke: dimgrey; }

form {
  display: flex;
  flex-direction: column; }

input {
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  height: 2em; }

textarea {
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  resize: none;
  width: 70vw; }

label {
  font-size: 0.8em;
  margin-top: 1em; }

section {
  display: flex;
  flex-direction: column;
  padding: 2em 4em; }

.button {
  font-size: 1em;
  margin: 0 0.2em;
  padding: 0.4em 0.8em;
  border-radius: 3px;
  min-width: 10em;
  cursor: pointer; }

.editor {
  display: flex;
  flex-direction: column;
  width: 60vw; }

.danger {
  background: #ff3860; }

.warning {
  background: #ffdd57; }

.white {
  background: white; }

.info {
  background: #209cee; }

.success {
  background: #23d17d; }

.sidebar {
  display: flex;
  flex-direction: column;
  background: dimgray;
  color: whitesmoke;
  height: 100vh;
  width: 15vw;
  padding: 1em; }
  .sidebar a {
    color: white;
    text-decoration: none; }
    .sidebar a:link {
      color: white; }
    .sidebar a:visited {
      color: white; }

.sidebar-element {
  color: whitesmoke; }

.post-preview {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  margin: 0.5em 0;
  width: 100%; }
  .post-preview hr {
    border: 1px solid #b3b3b3; }

.post-preview-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em; }

/*# sourceMappingURL=panel.css.map */
