/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /home/kremor/Development/unalone/static/sass/userbar.scss

Backtrace:
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:484:in `read'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/usr/lib64/ruby/gems/2.3.0/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/usr/bin/sass:22:in `load'
/usr/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /home/kremor/Development/unalone/static/sass/userbar.scss"; }
