{% load static %}
{% load wagtailuserbar menu_tags %}

<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta lang="en">

        <link rel="stylesheet" href="{% static 'css/unalone.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>

    <body>

        {% wagtailuserbar %}

        <section class="header">
            <div class="header-brand">
                <a href="/">UNALONE</a>

                <div class="header-social">
                    <a href="https://discord.gg/3tdH33P"><i class="fab fa-discord fa-icon"></i></a>
                    <a href="https://reddit.com/r/unalone"><i class="fab fa-reddit fa-icon"></i></a>
                </div>
            </div>

            <div class="header-end">

                {% main_menu max_levels=2 template="menus/desktop_menu.html" sub_menu_template="menus/desktop_sub_menu.html" %}

            </div>
        </section>

        <nav role="navigation">

            <div class="burger">

                {% comment %}<i class="fas fa-bars burger-icon"></i>{% endcomment %}

                <input type="checkbox"  class="burger-toggle"/>

                <span></span>
                <span></span>
                <span></span>

                <div class="burger-menu">
                    <div class="burger-menu-spacer"></div>

                        {% main_menu max_levels=2 template="menus/mobile_menu.html" sub_menu_template="menus/mobile_sub_menu.html" %}

                    </div>
                </div>
            </div>

        </nav>

        {% block content %}
        {% endblock %}

        <div class="footer">

        </div>

        <footer class="footer">
            <div style="display: flex; justify-content: center">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
                <div style="margin: 0 1em;">
                    This work is licensed under a
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        Creative Commons Attribution 4.0 International License
                    </a>.
                </div>
            </div>
        </footer>

    </body>

</html>