{% extends 'base.html' %}

{% load unalone_tags %}

{% block content %}

    <div class="post-single">
        <div class="content">
            <h1 class="title">{{ post.title }}</h1>

            <div class="post-image"></div>

            <br>

            {{ post.content | markdown | safe }}
        </div>

        <div class="break-line"></div>
    </div>

{% endblock %}